@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(154, 214, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(32, 92, 87);
}

h1#principal {
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: rgb(64, 124, 104);
}

.basico {
    color: rgba(0, 128, 0, 0.5);
}

.intermediario {
    color: rgba(255, 255, 0, 0.5);
}

.avançado {
    color: rgba(255, 0, 0, 0.5);
}