@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
} 

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--lilas);
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center 
}

#login {
    height: 500px;
    width: 250px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.705);

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

div#img {
    width: 100%;
    background-image: url(../midias/pattern.jpg);
    height: 40%;
    background-size: cover;
    background-position: center  center;
    display: block;
}

#formulario {
    width: 100%;
    padding: 8px;
}

#formulario > h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p {
    text-align: center;
}

form {
    padding-top: 30px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#ilogin, #isenha {
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 7px 6px;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 232, 243);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.campo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.campo > label {
    font-size: 12px;
}

#entrar {
    background-color: var(--verde);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border-color: #eeeeee;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

#esqueci {
    background-color: #fff;
    padding: 10px;
    color: var(--verde);
    border-color: var(--verde);
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

#entrar:hover, #esqueci:hover, label:hover {
    cursor: pointer;
}