@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

p {
    text-align: justify;
}

h1 {
    color: #F2BE22;
    text-align: center;
    text-shadow: 1px 1px 2px #685210ce;
}

h2 {
    color: #A6874E;
    text-shadow: 1px 1px 2px #534427be;
    margin-left: 10px;
}

body {
    background-image: linear-gradient(to right, #30A5BF, #185359);
}

main {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0B2B40;
    width: 650px;
    padding: 10px;
    margin: auto;
    
}
